@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  /* color: #98b66e; */
  color:rgb(83, 82, 82);
  /* color: #373d3b; */
  /* @apply bg-primaryPurple; */

}

html{
  height: 100%;
  width: 100%;
}

h2{
  font-size: 2rem;
  padding: 2rem 0;
  text-align: center;
}

h1{
  font-size: 3.5rem;
  padding: 6rem 10rem;
  text-align: end;
}


